.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 100%; /* Image takes full width of its container */
  max-width: 600px; /* Optional: Define a max width for consistency */
  height: 450px; /* Fixed height for all images */
  object-fit: cover; /* Crop and scale image proportionally */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}
